body {
    font-family: Arial, sans-serif;
    background-color: #56073e;
}

.form-container {
    width: 400px;
    margin: 200px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ccc;
}

h2 {
    text-align: center;
}

label {
    margin-top: 10px;
    display: block;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.back-link {
    margin-top: 20px;
}
