/* General Body Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;

  background-color: #56073e; /* Solid maroon */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header-container{
    align-items: center;
    padding-left: 50px;
}


/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#searchBar {
  padding: 6px;
  width: 200px;
  
}

/* Quick Insert Section */
#quickInsert {
  margin: 20px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* white with 50% opacity */
  border-radius: 8px;
}

/* Chart Section */
#charts {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.chartBox {
  width: 30%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9); /* white with 50% opacity */
  border-radius: 6px;
  box-shadow: 0 0 5px #ccc;
}

.chartPlaceholder {
  height: 150px;
  background-color: rgba(220, 220, 220, 0.9); /* grey with 50% opacity */
  margin-top: 10px;
  border-radius: 4px;
  text-align: center;
  line-height: 150px;
  color: #333;
}

/* Notification Section */
#notifications {
  background-color: rgba(255, 229, 229, 0.9); /* light red with 90% opacity */
  border-left: 5px solid #ff0000;
  padding: 15px;
  border-radius: 8px;
  margin: 20px 0;
  color: black; /* text color set to black */
}


#notifications ul {
  list-style: disc;
  padding-left: 20px;
}

#notifications ul li {
  color: #c10000;
  font-weight: bold;
  margin-bottom: 5px;
}


.nav-links {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f8f528;
    text-decoration: underline;
}


a{
    text-decoration: none;
    color: white;
}