body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  padding: 20px;
}

header h1 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
  background:rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 5px rgba(201, 199, 199, 0.1);
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;

}

th {
  background-color: #3f013d;
  color: white;
}

h2 {
  margin-top: 40px;
  color: #ffffff;
}
